<div class="card">
  <div class="flex justify-content-center flex-wrap card-container yellow-container">
    <div
      class="flex align-items-center justify-content-center w-20rem h-4rem bg-blue-500 font-bold text-white border-round m-2">
      <a routerLink="/list" routerLinkActive="active" ariaCurrentWhenActive="page">List User</a>
    </div>
    <div
      class="flex align-items-center justify-content-center w-20rem h-4rem bg-blue-500 font-bold text-white border-round m-2">
      <a routerLink="/form" routerLinkActive="active" ariaCurrentWhenActive="page">Create New User</a>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
