<div class="formgrid grid" style="width: 100vw; padding: 100px 200px;">
  <div class="field col-12">
    <label for="name">Name</label>
    <input type="text" pInputText id="name" [(ngModel)]="user.name" required autofocus
      class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full" />
    <small *ngIf="error.name" class="p-error block">Name is invalid.</small>
  </div>
  <div class="field col-12">
    <label for="gender">Gender</label>
    <p-radioButton name="gender" value="MALE" label="Male" [(ngModel)]="user.gender"
      class="text-base text-color surface-overlay p-2 w-full">
    </p-radioButton>
    <p-radioButton name="gender" value="FEMALE" label="Female" [(ngModel)]="user.gender"
      class="text-base text-color surface-overlay p-2 w-full">
    </p-radioButton>
  </div>
  <div class="field col-12">
    <label for="address">Address</label>
    <input type="text" pInputText id="address" [(ngModel)]="user.address"
      class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full" />
  </div>
  <div class="field col-12">
    <label for="email">Email</label>
    <input type="text" pInputText id="email" [(ngModel)]="user.email"
      class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full" />
    <small *ngIf="error.email" class="p-error block">Email is invalid.</small>
  </div>
  <div class="field col-12">
    <label for="note">Note</label>
    <textarea [rows]="5" id="note" [cols]="30" pInputTextarea [(ngModel)]="user.note"
      class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"></textarea>
  </div>
  <div class="field col-12 flex justify-content-center">
    <button pButton type="button" label="Submit" (click)="save()"></button>

  </div>
</div>
